{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'bibliomath/base.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        {% block stylesheets %}{% endblock %}
        <title>Bibliomathica</title>
    </head>
    <body style="background-color: #a370be;">
        <div class="header-bar">
            <h1 class="logo"><a href="/explore">Bibliomathica</a></h1>
            <ul class="nav-bar">
                {% if user.is_superuser %}
                <li class="nav-item"><b><a href="/sudo">Sudo</a></b></li>
                {% endif %}
                <li class="nav-item"><b><a href="/explore">Explore</a></b></li>
                <!-- <li class="nav-item"><b><a href="/puzzle">Puzzle</a></b></li> -->
                <li class="nav-item"><b><a href="/collection">Collection</a></b></li>
                
                {% if user.is_authenticated %}
                <li class="nav-item"><b><a href="{% url 'logout' %}">Logout</a></b></li>
                <li class="nav-item"><b><a href="{% url 'profile' %}">Account</a></b></li>
                {% else %}
                <li class="nav-item"><b><a href="{% url 'login' %}">Login</a></b></li>
                <li class="nav-item"><b><a href="{% url 'register' %}">Register</a></b></li>
                {% endif %}
            </ul>
        </div>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>