{% extends "base.html" %}
{% load static %}
{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'bibliomath/gridstyles.css' %}">
    <link rel="stylesheet" href="{% static 'bibliomath/explore.css' %}">
{% endblock stylesheets %}
{% block content %}
    <div>
        <a class="btn btn-secondary" href="{% url 'resource-create' %}">Add resource</a> 
    </div>
    <div class="grid-container">
        {% for topic in topics %}
            <div class="grid-item">
                <a class="grid-item-link" href="{% url 'topic' title=topic.title %}">
                    <h2>{{ topic.title }}</h2>
                </a>
                <p>{{ topic.description }}</p> 
            </div>
        {% endfor %}
    </div>
{% endblock content %}
