{% extends "base.html" %}
{% load static %}
{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'bibliomath/gridstyles.css' %}">
    <link rel="stylesheet" href="{% static 'bibliomath/collection.css' %}">
{% endblock stylesheets %}
{% block content %}
    <div class="grid-container">
        <div>
            <a class="btn btn-secondary" href="{% url 'resource-create' %}">Add resource</a>
        </div>
        {% for res in resources %}
            <div class="grid-item">
                <div class="collection-item-header">
                    <a class="grid-item-link" href="{% url 'resource-detail' res.id %}">
                        <h2 class="grid-item-link">{{ res.title }}</h2>
                    </a>
                </div>
                <p>{{ res.description }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
