{% extends "base.html" %}
{% load static %}
{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'bibliomath/gridstyles.css' %}">
    <link rel="stylesheet" href="{% static 'bibliomath/sudo.css' %}">
{% endblock stylesheets %}
{% block content %}
    <div> 
        <h2 class="sudo-header">List of Topics</h2> 
        <a class="btn btn-secondary" href="{% url 'topic-create' %}">Create new topic</a> 
    </div>
    <div class="grid-container">
        {% for topic in topics %}
            <div class="grid-item">
                <a class="grid-item-link" href="{% url 'topic-detail' topic.title %}">
                    <h4>{{ topic.title }}</h4>
                </a>
                <p>{{ topic.description }}</p> 
            </div>
        {% endfor %}
    </div>  
    <div> 
        <h2 class="sudo-header">List of Resources</h2> 
        <a class="btn btn-secondary" href="{% url 'resource-create' %}">Create new resource</a> 
    </div>
    <div class="grid-container">
        {% for res in resources %}
            <div class="grid-item">
                <div class="collection-item-header">
                    <a class="grid-item-link" href="{% url 'resource-detail' pk=res.id %}">
                        <h4 class="grid-item-link">{{ res.title }}</h4>
                    </a>
                </div>
                <p>{{ res.description }}</p>
            </div>
        {% endfor %}
    </div>
    <div> 
        <h2 class="sudo-header">List of Puzzles</h2> 
        <a class="btn btn-secondary" href="{% url 'puzzle-create' %}">Create new puzzle</a> 
    </div>
    <div class="grid-container">
        {% for puzzle in puzzles %}
            <div class="grid-item">
                <a class="grid-item-link" href="{% url 'puzzle-detail' puzzle.title %}">
                    <h4>{{ puzzle.title }}</h4>
                </a>
                <p>{{ puzzle.question }}</p> 
            </div>
        {% endfor %}
    </div>
{% endblock content %}
