{% extends "base.html" %}
{% load static %}
{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'bibliomath/gridstyles.css' %}">
    <link rel="stylesheet" href="{% static 'bibliomath/topic.css' %}">
{% endblock stylesheets %}
{% block content %}
    <h2 class="topic-title" style="background-color: {{ color }};">{{ title }}</h2>
    <div> <h4>Not in your collection</h4></div>
    <div class="grid-container">
        {% for res in resources_out %}
            <div class="grid-item">
                <div class="collection-item-header">
                    <a class="grid-item-link" href="{{ res.link }}">
                        <h4 class="grid-item-link">{{ res.title }}</h4>
                    </a>
                    <div class="add-col-btn"><a class="btn btn-secondary" href="{% url 'addResource' id=res.id title=title %}">Add to collection</a></div>
                </div>
                <p>{{ res.description }}</p>
            </div>
        {% endfor %}
    </div>
    <div style="margin-top: 1%;"> <h4>In your collection</h4></div>
    <div class="grid-container">
        {% for res in resources_in %}
            <div class="grid-item">
                <div class="collection-item-header">
                    <a class="grid-item-link" href="{{ res.link }}">
                        <h4 class="grid-item-link">{{ res.title }}</h4>
                    </a>
                </div>
                <p>{{ res.description }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock content %}