{% extends "base.html" %}
{% load static %}
{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'bibliomath/gridstyles.css' %}">
    <link rel="stylesheet" href="{% static 'bibliomath/topic.css' %}">
{% endblock stylesheets %}
{% block content %}
    <h2>{{ title }}</h2>
    <div>
        <button class="create" onclick="location.href='/explore#create-resource'">
            Add Resource/Topic
        </button>
    </div>
    <div class="grid-container">
        {% for res in resources %}
            <div class="grid-item">
                <div class="collection-item-header">
                    <a class="grid-item-link" href="{{ res.link }}">
                        <h2 class="grid-item-link">{{ res.title }}</h2>
                    </a>
                    <button class="add-col-item" onclick="alert('added')">Add to Collection</button>
                </div>
                <p>{{ res.description }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock content %}