{% extends "base.html" %}
{% load static %}
{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'bibliomath/gridstyles.css' %}">
    <link rel="stylesheet" href="{% static 'bibliomath/collection.css' %}">
{% endblock stylesheets %}
{% block content %}
    <h4 style="margin-top: 1%;"> {{ collection.first }} </h4>
    <div class="grid-container">
        {% for res in resources %}
            <div class="grid-item">
                <div class="collection-item-header">
                    <div class="col-header-left">
                        <a class="grid-item-link" href="{{ res.link }}">
                            <h3 class="grid-item-link">{{ res.title }}</h3>
                        </a>
                        <h6 style="background-color: {{res.color}}; opacity: 0.65">{{ res.topic }}</h6>
                    </div>
                    <div class="col-header-right">
                        <!-- <div style="visibility: hidden;" class="completed-item-container">
                            <h6>Completed: </h6>
                            <input type="checkbox" checked="False">
                        </div> -->
                        <div style="margin-right: 5%;">
                            <a class="btn btn-secondary" href="{% url 'removeResource' id=res.id %}">Remove</a>
                        </div> 
                    </div> 
                </div>
                <p>{{ res.description }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
