{% extends "base.html" %}
{% load static %}
{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'bibliomath/gridstyles.css' %}">
    <link rel="stylesheet" href="{% static 'bibliomath/collection.css' %}">
{% endblock stylesheets %}
{% block content %}
<div> This is the {{ collection.first }} </div>
    <div class="grid-container">
        {% for res in resources %}
            <div class="grid-item">
                <div class="collection-item-header">
                    <a class="grid-item-link" href="#">
                        <h2 class="grid-item-link">{{ res.title }}</h2>
                    </a>
                    <div class="completed-item-container">
                        <h4>Completed: </h4>
                        <input type="checkbox" checked="False">
                </div>
                    <button class="remove-col-item" onclick="">Remove</button>
                </div>
                <p>{{ res.description }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
