{% extends "base.html" %}
{% load static %}
{% block stylesheets %}
    
{% endblock stylesheets %}
{% block content %}
{% load crispy_forms_tags %}
<div class="content-section">
    <form class="user-form" method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
                <legend class="border-bottom mb-4">Log in</legend>
                {{ form|crispy }}
        </fieldset>
        <div>
            <button type="submit">Login</button>
        </div>
    </form>
    <div class="register-button">
        <small>Want to have An Account? <a href="{% url 'register' %}">Sign up now</a> </small>
    </div>
</div>
{% endblock content %}