{% extends "base.html" %}
{% load static %}
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'bibliomath/collection.css' %}">
{% endblock stylesheets %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <form class="user-form" method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
                <legend class="border-bottom mb-4">Join Today</legend>
                {{ form|crispy }}
        </fieldset>
        <div>
            <button class="non-white-button" type="submit">Sign up</button>
        </div>
    </form>
    <div class="register-button">
        <small>Already Have An Account? <a class="non-white-button" style="margin-left: 12px;" href="{% url 'login' %}">Sign in</a> </small>
    </div>
</div>
{% endblock content %}