.header-bar {
    border-radius: 10px;
    border-width: 4px;
    border-style: solid;
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: white;
    width: 96%;
    margin: 40px 50px 0px 50px;
}

.content {
    margin: 0 50px 20px 50px;
}

.logo {
    margin: 0;
    color: black;
    padding-left: 2%;
}

.nav-bar {
    list-style-type: none;
    margin-left: auto;
    margin-right: 2%;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    overflow: hidden;
  }
  
.nav-item {
    float: left;
}

.nav-item a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.nav-item a:hover {
    color:#a98de2;
}

/* .nav-item:hover {
    background-color:#a98de2;
} */

.content-section {
    margin-top: 2%;
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

button:hover {
    opacity: 0.8;
}

/* THIS IS FOR LOGIN, PROFILE, AND REGISTRATION ONLY */
.user-form, .register-button {
    padding: 2%;
}

/* THIS IS FOR PROFILE ONLY */
.rounded-circle-account-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.media {
    padding: 1%;
}

.media-body {
    margin-left: 5%;
    margin-top: auto;
}
