.header-bar {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 30px 0px 10px 0px;
    margin: 0 50px;
}

.content {
    margin: 0 50px 20px 50px;
}

.logo {
    margin: 0;
    color: white;
    font-weight: 700;
    text-shadow: -4px 4px #6f527e;
}

.logo a {
    color: white;
    text-decoration: none;
}

.logo a:hover {
    color: white;
    text-decoration: none;
}

.nav-bar {
    list-style-type: none;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    overflow: hidden;
  }
  
.nav-item {
    float: left;
    font-size: 25px;
}

.nav-item a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-size: 25px;
    text-shadow: -2.5px 2.5px #6f527e;
    text-decoration: none;
}

.nav-item a:hover {
    color: white;
    text-decoration-color:white;
}

/* .nav-item:hover {
    background-color:#a98de2;
} */

.content-section {
    margin-top: 20px;
    border-radius: 15px;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    background: white;
    padding: 20px;
    box-shadow: -5px 5px 20px #6f527e;
}

button:hover {
    opacity: 0.8;
}

/* THIS IS FOR LOGIN, PROFILE, AND REGISTRATION ONLY */
.user-form, .register-button {
    padding: 2%;
}

/* THIS IS FOR PROFILE ONLY */
.rounded-circle-account-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.media {
    padding: 1%;
}

.media-body {
    margin-left: 5%;
    margin-top: auto;
}
