.completed-item-container, .collection-item-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.completed-item-container{
    margin-left: auto;
}

.remove-col-item {
    border-radius: 10px;
    background-color: white;
    color: black;
    margin-left: 5px;
    font-family: monospace;
    font-size: 14px;
}

.remove-col-item:hover {
    background-color: #c9b8ed;
}
