.completed-item-container, .collection-item-header, .col-header-right {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.completed-item-container, .col-header-right{
    justify-content: space-evenly;
}

.completed-item-container {
    margin-right: 5%;
}

.col-header-right {
    margin-left: auto;
}

.remove-col-item {
    border-radius: 10px;
    background-color: white;
    color: black;
    margin-left: 5px;
    font-family: monospace;
    font-size: 14px;
}

.remove-col-item:hover {
    background-color: #c9b8ed;
}
