.completed-item-container, .collection-item-header, .col-header-left {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

/* .completed-item-container, .col-header-right{
    justify-content: space-evenly;
}

.completed-item-container {
    margin-right: 5%;
} */

.col-header-right {
    /* margin-left: auto; */
}

.col-header-left h6 {
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    padding: 2%;
    margin-left: 4%; 
}

.col-header-left h3 {
    font-size: x-large;
}

.col-header-left {
    width: 90%;
}

.remove-col-item {
    border-radius: 10px;
    background-color: white;
    color: black;
    margin-left: 5px;
    font-family: monospace;
    font-size: 14px;
}

.remove-col-item:hover {
    background-color: #c9b8ed;
}
