option, button[type=submit], input, select, label, b, textarea {
    margin-top: 5px;
    margin-bottom: 5px;   
}

input[type=text], textarea {
    width: 90%;
    margin-left: auto;
}

.create-resource {
    margin-top: 1%;
}

.purple-button {
    background-color: white;
    color: black;
    box-shadow: -4px 4px #6f527e;
}

.create-resource a:hover {
    color: black;
    background-color: rgb(210, 210, 210);
}