.grid-container {
    margin-top: 10px;
    display: inline-grid;
    grid-template-columns: 33% 33% 33%;
    align-content: center;
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    row-gap: 10px;
    column-gap: 10px;

}

.grid-item {
    border-radius: 10px;
    background-color: white;
    padding: 22px;
    box-shadow: -7px 7px 10px #6f527e;

}

.grid-item-link:hover {
    color: #666666;
    /* color: #9e7edf; */
}

.grid-item-link {
    text-decoration: none;
    color: black;
}