.collection-item-header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.add-col-btn {
    margin-left: auto;
}

.topic-title {
    width: fit-content;
    padding: 10px;
    margin: 20px 0 10px 0;
    border-radius: 5px;
}