button {
    border-style: solid;
    border-width: 1px;
    background-color: white;
    color: black;
}

button:hover {
    opacity: 0.8;   
}

InputSubmit input {
    margin-top: 1%;
}