.wrong, .correct {
    color: white;
    border-radius: 5px;
    border-style: 2px;
    padding: 0 1% 0 1%;
    width: fit-content;
}

.wrong {
    background-color: #ff4248;
}
  
.correct {
    background-color: #00d600;
}

.init {
    color: black;
}
  